<launch>
    <!-- <node pkg="offb" type="mainFunc" name="test_fly" required="true" output="screen" /> -->
    <!-- <include file="$(find hog_haar_person_detection)/launch/hog_haar_person_detection.launch"></include> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0.1 0 0 0 0 0 iris::base_link camera_link 100" /> -->

    <arg name="vehicle" default="iris_depth_camera"/>
    <arg name="world" default="$(find offb)/worlds/empty.world"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
    <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model $(arg vehicle)"/>
</launch>